<html>
<head>
<style>
<body>
body {
  text-align: center;
	}
	
style {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}


p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}

img {
  border: 1px solid #ccc;
}

img {
  border: 1px solid #777;
}

 img {
  width: 400;
  height: 200;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

</body>
</html>
